<!-- <div ng-hide="vm.editMode">
	<h1>Name: {{vm.details.name}}</h1>
	<p>Details: {{vm.details.description}}</p>
	<p>Completed: {{vm.details.completed}}</p>
	
	
	<button ng-click="vm.goBack()">Go Back</button>
	<button ng-click="vm.editMode=true; vm.setEditWish()">EDIT</button>
	<br>
	<hr>
	</div>
		<form ng-show="vm.editMode">
			Task: <input type="text" ng-model="vm.editWish.task"/><br>
			Details: <input type="text" ng-model="vm.editWish.description"/><br>
			Completed: <input type="checkbox" ng-model="vm.editWish.completed"/><br>
			<button type="submit" value="Cancel" ng-click="vm.editMode = false; vm.editWish= null">Cancel</button>
			<button type="submit" value="Save" ng-click="vm.save()">Save</button>
		</form>
	<div>
</div> -->